mlm_ref.json
{"flowContents":{"identifier":"47918940-9eb1-3d71-8a70-ca2c4c832217","instanceIdentifier":"34653fca-8c98-1e2a-7868-5ad2f458a52f","name":"mlm_ref","comments":"","position":{"x":1080.0,"y":24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"33ee200f-902e-3df8-8dd7-e8d6a8822b0d","instanceIdentifier":"34653fd2-8c98-1e2a-1d78-219dcd3b85f4","name":"EvaluateJsonPath","comments":"","position":{"x":240.0,"y":-280.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Destination":"flowfile-attribute","data":"$.Data","Max String Length":"20 MB","Return Type":"json","action":"$.Action","Null Value Representation":"empty string","table":"$.Table","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"data":{"name":"data","displayName":"data","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"action":{"name":"action","displayName":"action","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"table":{"name":"table","displayName":"table","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"859fec83-47b0-3e34-bc21-5aa38510ea9d","instanceIdentifier":"3465402e-8c98-1e2a-7766-674f827db34e","name":"EvaluateJsonPath","comments":"","position":{"x":1888.0,"y":544.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Destination":"flowfile-attribute","activation_code":"$.activation_code","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","user_ref":"$.user_ref","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"activation_code":{"name":"activation_code","displayName":"activation_code","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"user_ref":{"name":"user_ref","displayName":"user_ref","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"b096a5b7-99ae-3da2-b356-20487c50c486","instanceIdentifier":"34653fdd-8c98-1e2a-fb68-d924fda38f0f","name":"PutDatabaseRecord","comments":"","position":{"x":1856.0,"y":-160.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"mlm","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"532405e7-6915-3a5a-914d-311daed6bc8d","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","put-db-record-binary-format":"UTF-8","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"${table}","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"07e490c3-3550-35a7-bba7-029bc7cb7b6b","instanceIdentifier":"34653fdc-8c98-1e2a-4bd5-5fced4b5efa0","name":"ReplaceText","comments":"","position":{"x":936.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":".*","Replacement Value":"${data}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"a1a2d4a8-cbd4-34ae-ad45-11d0b294beaf","instanceIdentifier":"34653fd9-8c98-1e2a-17dd-2b2fcd285b0e","name":"QueryRecord","comments":"","position":{"x":1384.0,"y":104.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","SQL Query":"SELECT * FROM FLOWFILE","record-writer":"9e798636-1dea-3490-84ca-409c100b59cd","record-reader":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"7c173524-6604-325c-83d2-99d2e133fe4f","instanceIdentifier":"34654033-8c98-1e2a-c0a1-98c7a7c1a918","name":"PutSQL","comments":"","position":{"x":2944.0,"y":544.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"532405e7-6915-3a5a-914d-311daed6bc8d","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"3be82fea-4b70-3d67-9419-8d05da82a6ba","instanceIdentifier":"34654057-8c98-1e2a-b74d-031571cd7d33","name":"ReplaceText","comments":"","position":{"x":952.0,"y":752.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"CALL process_system_queue();","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"4199bb2c-024e-3828-9686-e0e3295a1ddc","instanceIdentifier":"34654030-8c98-1e2a-2660-94e646fd33eb","name":"ReplaceText","comments":"","position":{"x":2344.0,"y":544.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"CALL activate_member('${user_ref}', ${activation_code})","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"917a3270-03e9-3509-aef3-16d6f03d0def","instanceIdentifier":"3465403d-8c98-1e2a-0f74-b782c3b87f7a","name":"LogAttribute","comments":"","position":{"x":2528.0,"y":296.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"c8c236b2-36c6-38bc-945c-24b89ddbcbda","instanceIdentifier":"34653fd0-8c98-1e2a-e029-0333db5e72f9","name":"ReplaceText","comments":"","position":{"x":936.0,"y":104.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":".*","Replacement Value":"${data}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"1cfe43c5-703f-3820-b83d-17e337fcf66b","instanceIdentifier":"34653fdb-8c98-1e2a-0460-0ebb7b781476","name":"PutDatabaseRecord","comments":"","position":{"x":1864.0,"y":104.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"ppc_construction","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"532405e7-6915-3a5a-914d-311daed6bc8d","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"DELETE","put-db-record-binary-format":"UTF-8","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"${table}","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"f0eda228-7e46-36fd-a6ec-c72b37aa41be","instanceIdentifier":"34653fd3-8c98-1e2a-1f40-17711f444934","name":"ReplaceText","comments":"","position":{"x":952.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":".*","Replacement Value":"${data}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"d100aaed-9868-3328-ad25-fcabd748bdfd","instanceIdentifier":"34653fd5-8c98-1e2a-473e-bf9b14e9d51a","name":"LogAttribute","comments":"","position":{"x":1544.0,"y":-480.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"9d7072db-381e-3310-9358-e1845959cbbc","instanceIdentifier":"34653fd8-8c98-1e2a-9f97-ca1b9b37b16d","name":"QueryRecord","comments":"","position":{"x":1376.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","SQL Query":"SELECT * FROM FLOWFILE","record-writer":"9e798636-1dea-3490-84ca-409c100b59cd","record-reader":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"cfc95add-ac16-311f-84b4-9e9bd89da6d7","instanceIdentifier":"34653ff3-8c98-1e2a-73ce-38f89dc291cb","name":"ReplaceText","comments":"","position":{"x":952.0,"y":544.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":".*","Replacement Value":"${data}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"0e90c3b1-15ba-3fd8-ace7-6f5002197946","instanceIdentifier":"34653fda-8c98-1e2a-7ba9-927204db3123","name":"ReplaceText","comments":"","position":{"x":304.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Regular Expression":".*","Replacement Value":"${Data}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5","name":"RouteOnAttribute","comments":"","position":{"x":368.0,"y":104.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"Routing Strategy":"Route to Property name","insert":"${action:equals('insert')}","update":"${action:equals('update')}","delete":"${action:equals('delete')}","process_system_queue":"${action:equals('process_system_queue')}","add_head":"${action:equals('add_head')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"insert":{"name":"insert","displayName":"insert","identifiesControllerService":false,"sensitive":false},"update":{"name":"update","displayName":"update","identifiesControllerService":false,"sensitive":false},"delete":{"name":"delete","displayName":"delete","identifiesControllerService":false,"sensitive":false},"process_system_queue":{"name":"process_system_queue","displayName":"process_system_queue","identifiesControllerService":false,"sensitive":false},"add_head":{"name":"add_head","displayName":"add_head","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"0a22153f-7526-32df-8432-7b4b2e17489e","instanceIdentifier":"34653fd7-8c98-1e2a-1dbe-4a346fd3e58d","name":"ConsumeAMQP","comments":"","position":{"x":144.0,"y":-488.0},"type":"org.apache.nifi.amqp.processors.ConsumeAMQP","bundle":{"group":"org.apache.nifi","artifact":"nifi-amqp-nar","version":"1.28.0"},"properties":{"ssl-context-service":null,"User Name":"admin","ssl-client-auth":"NONE","batch.size":"10","Port":"5672","Brokers":"rabbitmq3:5672","cert-authentication":"false","auto.acknowledge":"true","Host Name":"rabbitmq3","prefetch.count":"0","header.key.prefix":"consume.amqp","header.separator":",","AMQP Version":"0.9.1","header.format":"Comma-Separated String","Virtual Host":"/","Queue":"mlm_ref","remove.curly.braces":"False"},"propertyDescriptors":{"ssl-context-service":{"name":"ssl-context-service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"User Name":{"name":"User Name","displayName":"User Name","identifiesControllerService":false,"sensitive":false},"ssl-client-auth":{"name":"ssl-client-auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"batch.size":{"name":"batch.size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Brokers":{"name":"Brokers","displayName":"Brokers","identifiesControllerService":false,"sensitive":false},"cert-authentication":{"name":"cert-authentication","displayName":"Use Client Certificate Authentication","identifiesControllerService":false,"sensitive":false},"auto.acknowledge":{"name":"auto.acknowledge","displayName":"Auto-Acknowledge Messages","identifiesControllerService":false,"sensitive":false},"Host Name":{"name":"Host Name","displayName":"Host Name","identifiesControllerService":false,"sensitive":false},"prefetch.count":{"name":"prefetch.count","displayName":"Prefetch Count","identifiesControllerService":false,"sensitive":false},"header.key.prefix":{"name":"header.key.prefix","displayName":"Header Key Prefix","identifiesControllerService":false,"sensitive":false},"header.separator":{"name":"header.separator","displayName":"Header Separator","identifiesControllerService":false,"sensitive":false},"AMQP Version":{"name":"AMQP Version","displayName":"AMQP Version","identifiesControllerService":false,"sensitive":false},"header.format":{"name":"header.format","displayName":"Header Output Format","identifiesControllerService":false,"sensitive":false},"Virtual Host":{"name":"Virtual Host","displayName":"Virtual Host","identifiesControllerService":false,"sensitive":false},"Queue":{"name":"Queue","displayName":"Queue","identifiesControllerService":false,"sensitive":false},"remove.curly.braces":{"name":"remove.curly.braces","displayName":"Remove Curly Braces","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"6df3673f-2a57-3cf0-b454-372da79d030b","instanceIdentifier":"34653fd1-8c98-1e2a-5bb3-fab1af8c1f7a","name":"PutDatabaseRecord","comments":"","position":{"x":1888.0,"y":352.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"mlm","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"532405e7-6915-3a5a-914d-311daed6bc8d","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"UPDATE","put-db-record-binary-format":"UTF-8","db-type":"MySQL","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"${table}","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","Data Record Path":null,"database-session-autocommit":"false"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"234d964f-17e2-3268-a64a-6ed8df6e9905","instanceIdentifier":"34653fcf-8c98-1e2a-cbfe-765286722ead","name":"QueryRecord","comments":"","position":{"x":1408.0,"y":352.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.28.0"},"properties":{"cache-schema":"true","dbf-default-precision":"10","SQL Query":"SELECT * FROM FLOWFILE","record-writer":"9e798636-1dea-3490-84ca-409c100b59cd","record-reader":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","include-zero-record-flowfiles":"true","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"adf73390-8a38-3399-afd0-17e82fe14411","instanceIdentifier":"34653feb-8c98-1e2a-1c98-87c73322d6b2","name":"","source":{"id":"07e490c3-3550-35a7-bba7-029bc7cb7b6b","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fdc-8c98-1e2a-4bd5-5fced4b5efa0"},"destination":{"id":"9d7072db-381e-3310-9358-e1845959cbbc","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"QueryRecord","comments":"","instanceIdentifier":"34653fd8-8c98-1e2a-9f97-ca1b9b37b16d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"159ece16-730c-36a9-bea0-bbf633b5458d","instanceIdentifier":"34653fe3-8c98-1e2a-cf49-63c1de370912","name":"","source":{"id":"0e90c3b1-15ba-3fd8-ace7-6f5002197946","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fda-8c98-1e2a-7ba9-927204db3123"},"destination":{"id":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"RouteOnAttribute","comments":"","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"fd904a30-4e60-35f6-9422-267c9174e5fd","instanceIdentifier":"34653fe1-8c98-1e2a-b021-1e57be5ec820","name":"","source":{"id":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"RouteOnAttribute","comments":"","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5"},"destination":{"id":"f0eda228-7e46-36fd-a6ec-c72b37aa41be","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fd3-8c98-1e2a-1f40-17711f444934"},"labelIndex":1,"zIndex":0,"selectedRelationships":["update"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"a9655523-8e08-38df-8809-a77bbd1ae5bb","instanceIdentifier":"3465405b-8c98-1e2a-abfe-0a2b2e053e58","name":"","source":{"id":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"RouteOnAttribute","comments":"","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5"},"destination":{"id":"3be82fea-4b70-3d67-9419-8d05da82a6ba","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34654057-8c98-1e2a-b74d-031571cd7d33"},"labelIndex":1,"zIndex":0,"selectedRelationships":["process_system_queue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"dd3b367f-a72b-3ef4-a2e0-d53cfed0670a","instanceIdentifier":"34654059-8c98-1e2a-6845-cd1d0a9dbab2","name":"","source":{"id":"3be82fea-4b70-3d67-9419-8d05da82a6ba","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34654057-8c98-1e2a-b74d-031571cd7d33"},"destination":{"id":"7c173524-6604-325c-83d2-99d2e133fe4f","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"PutSQL","comments":"","instanceIdentifier":"34654033-8c98-1e2a-c0a1-98c7a7c1a918"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"9d680f34-9261-3cbf-bf39-9a0827e10caf","instanceIdentifier":"34654032-8c98-1e2a-7567-3e04dab0c41e","name":"","source":{"id":"859fec83-47b0-3e34-bc21-5aa38510ea9d","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"3465402e-8c98-1e2a-7766-674f827db34e"},"destination":{"id":"4199bb2c-024e-3828-9686-e0e3295a1ddc","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34654030-8c98-1e2a-2660-94e646fd33eb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"8b561053-5d39-3967-b61a-a74f6dfbef87","instanceIdentifier":"34653ff4-8c98-1e2a-968f-9be09e0b4b7e","name":"","source":{"id":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"RouteOnAttribute","comments":"","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5"},"destination":{"id":"cfc95add-ac16-311f-84b4-9e9bd89da6d7","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653ff3-8c98-1e2a-73ce-38f89dc291cb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["add_head"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"69bba41a-f8d5-318e-8c3c-3a2e93577f62","instanceIdentifier":"3465404b-8c98-1e2a-62ec-05ef9fc3cf31","name":"","source":{"id":"cfc95add-ac16-311f-84b4-9e9bd89da6d7","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653ff3-8c98-1e2a-73ce-38f89dc291cb"},"destination":{"id":"859fec83-47b0-3e34-bc21-5aa38510ea9d","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"3465402e-8c98-1e2a-7766-674f827db34e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"ab758aa2-db2f-3eaf-8567-cf5f332bf7c6","instanceIdentifier":"3465403e-8c98-1e2a-bd57-c138cb190daa","name":"","source":{"id":"4199bb2c-024e-3828-9686-e0e3295a1ddc","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34654030-8c98-1e2a-2660-94e646fd33eb"},"destination":{"id":"917a3270-03e9-3509-aef3-16d6f03d0def","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"LogAttribute","comments":"","instanceIdentifier":"3465403d-8c98-1e2a-0f74-b782c3b87f7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"1254897d-c680-39ee-9d5c-6c6aa55228fc","instanceIdentifier":"34653fe2-8c98-1e2a-3434-af37a9e38291","name":"","source":{"id":"c8c236b2-36c6-38bc-945c-24b89ddbcbda","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fd0-8c98-1e2a-e029-0333db5e72f9"},"destination":{"id":"a1a2d4a8-cbd4-34ae-ad45-11d0b294beaf","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"QueryRecord","comments":"","instanceIdentifier":"34653fd9-8c98-1e2a-17dd-2b2fcd285b0e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"2e895998-ac7d-3c7d-85fd-ec15fb95cba4","instanceIdentifier":"34653fe5-8c98-1e2a-e029-5dae028f0323","name":"","source":{"id":"f0eda228-7e46-36fd-a6ec-c72b37aa41be","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fd3-8c98-1e2a-1f40-17711f444934"},"destination":{"id":"234d964f-17e2-3268-a64a-6ed8df6e9905","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"QueryRecord","comments":"","instanceIdentifier":"34653fcf-8c98-1e2a-cbfe-765286722ead"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"d5593c13-5638-3369-83c8-7c9358edf1af","instanceIdentifier":"34653fe6-8c98-1e2a-fb1c-ae80b49d60b6","name":"","source":{"id":"a1a2d4a8-cbd4-34ae-ad45-11d0b294beaf","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"QueryRecord","comments":"","instanceIdentifier":"34653fd9-8c98-1e2a-17dd-2b2fcd285b0e"},"destination":{"id":"1cfe43c5-703f-3820-b83d-17e337fcf66b","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"34653fdb-8c98-1e2a-0460-0ebb7b781476"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SQL Query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"e5d91b34-d2fc-3d3e-9fd0-8d8107c3d6d4","instanceIdentifier":"34653fec-8c98-1e2a-b678-c94ee90a3041","name":"","source":{"id":"234d964f-17e2-3268-a64a-6ed8df6e9905","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"QueryRecord","comments":"","instanceIdentifier":"34653fcf-8c98-1e2a-cbfe-765286722ead"},"destination":{"id":"6df3673f-2a57-3cf0-b454-372da79d030b","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"34653fd1-8c98-1e2a-5bb3-fab1af8c1f7a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SQL Query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"b75a0c9d-bda0-31df-a17e-0aa0f03d06d2","instanceIdentifier":"34653fe4-8c98-1e2a-df41-33167520e597","name":"","source":{"id":"0a22153f-7526-32df-8432-7b4b2e17489e","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ConsumeAMQP","comments":"","instanceIdentifier":"34653fd7-8c98-1e2a-1dbe-4a346fd3e58d"},"destination":{"id":"33ee200f-902e-3df8-8dd7-e8d6a8822b0d","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"34653fd2-8c98-1e2a-1d78-219dcd3b85f4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"73c3ebfd-87b2-390d-a3e3-8dd2a609cca6","instanceIdentifier":"34653fdf-8c98-1e2a-a66d-7d87e3557ffe","name":"","source":{"id":"d100aaed-9868-3328-ad25-fcabd748bdfd","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"LogAttribute","comments":"","instanceIdentifier":"34653fd5-8c98-1e2a-473e-bf9b14e9d51a"},"destination":{"id":"b096a5b7-99ae-3da2-b356-20487c50c486","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"34653fdd-8c98-1e2a-fb68-d924fda38f0f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"3664e3ae-656d-35c8-8030-8d020c4cd7a3","instanceIdentifier":"3465403f-8c98-1e2a-442d-a687defb102b","name":"","source":{"id":"917a3270-03e9-3509-aef3-16d6f03d0def","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"LogAttribute","comments":"","instanceIdentifier":"3465403d-8c98-1e2a-0f74-b782c3b87f7a"},"destination":{"id":"7c173524-6604-325c-83d2-99d2e133fe4f","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"PutSQL","comments":"","instanceIdentifier":"34654033-8c98-1e2a-c0a1-98c7a7c1a918"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"3311d24f-b487-3db4-8b8b-16169b482709","instanceIdentifier":"34653fe0-8c98-1e2a-0d4e-bc471f35bcfb","name":"","source":{"id":"33ee200f-902e-3df8-8dd7-e8d6a8822b0d","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"34653fd2-8c98-1e2a-1d78-219dcd3b85f4"},"destination":{"id":"0e90c3b1-15ba-3fd8-ace7-6f5002197946","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fda-8c98-1e2a-7ba9-927204db3123"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"8908ba32-caf6-360a-8f29-cd7aa07488fb","instanceIdentifier":"34653fe7-8c98-1e2a-65a8-0e741c91509e","name":"","source":{"id":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"RouteOnAttribute","comments":"","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5"},"destination":{"id":"c8c236b2-36c6-38bc-945c-24b89ddbcbda","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fd0-8c98-1e2a-e029-0333db5e72f9"},"labelIndex":1,"zIndex":0,"selectedRelationships":["delete"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"b7bdae28-96ba-3d20-95b0-126f2c964106","instanceIdentifier":"34653fe8-8c98-1e2a-36b9-fa24428a5509","name":"","source":{"id":"cbd7c135-aac0-30de-a5f7-c808064ad1c6","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"RouteOnAttribute","comments":"","instanceIdentifier":"34653fde-8c98-1e2a-19b7-4686226585b5"},"destination":{"id":"07e490c3-3550-35a7-bba7-029bc7cb7b6b","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"ReplaceText","comments":"","instanceIdentifier":"34653fdc-8c98-1e2a-4bd5-5fced4b5efa0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["insert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"55a0d07b-71c8-3160-8a7e-82b54e6d2066","instanceIdentifier":"34653fe9-8c98-1e2a-ffaf-93311e76aa71","name":"","source":{"id":"9d7072db-381e-3310-9358-e1845959cbbc","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"QueryRecord","comments":"","instanceIdentifier":"34653fd8-8c98-1e2a-9f97-ca1b9b37b16d"},"destination":{"id":"d100aaed-9868-3328-ad25-fcabd748bdfd","type":"PROCESSOR","groupId":"47918940-9eb1-3d71-8a70-ca2c4c832217","name":"LogAttribute","comments":"","instanceIdentifier":"34653fd5-8c98-1e2a-473e-bf9b14e9d51a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["SQL Query"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"532405e7-6915-3a5a-914d-311daed6bc8d","instanceIdentifier":"34653fcd-8c98-1e2a-4e3b-d10ede506c5f","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.28.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.mysql.cj.jdbc.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:mysql://mysql8-32:3306/mlm","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/mysql-connector-j-8.0.32.jar\n","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"2fd48ebb-2a96-349f-876f-e5f7a5f55fd0","instanceIdentifier":"34653fcb-8c98-1e2a-9722-d4acd9d3326a","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":"76a50ccc-b4e8-3028-bfd4-5c4948d667a7","Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"9e798636-1dea-3490-84ca-409c100b59cd","instanceIdentifier":"34653fce-8c98-1e2a-d2c9-10c737394942","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"},{"identifier":"76a50ccc-b4e8-3028-bfd4-5c4948d667a7","instanceIdentifier":"34653fcc-8c98-1e2a-b111-25a56752849a","name":"VolatileSchemaCache","comments":"","type":"org.apache.nifi.schema.inference.VolatileSchemaCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.28.0"},"properties":{"max-cache-size":"100"},"propertyDescriptors":{"max-cache-size":{"name":"max-cache-size","displayName":"Maximum Cache Size","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSchemaCacheService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.28.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"47918940-9eb1-3d71-8a70-ca2c4c832217"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}